input[type="number"] {
    width: 20%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding:0 15px;
}

select {
    width: 40%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

button {
    width: 20%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

input[type="number"]:focus {
    outline: none;
}

select:focus {
    outline: none;
}

.converter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    font-size: 15px;
    color: coral;
    font-weight: bold;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul li, a {
    list-style: none;
    display: inline-block;
    padding: 0  10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    color: #000;
    font-weight: bold;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.currency{
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.favorite {
    color: red;
}